@model IEnumerable<RecepieDelight.Models.Recepie>

@{
    ViewData["Title"] = "Flavorsome Delights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<h1 style="color:black;">RECIPES</h1>
@foreach (var item in Model)
{
    <div class="article-container">
        <div class="eventsInfo">
            <img src="~/img/avocado-toast.jpg" width="100" height="100">
            <h4 class="title">  @Html.DisplayFor(modelItem => item.Title)</h4>
            <h6 class="complexity">  @Html.DisplayFor(modelItem => item.complexity)</h6>
            <h6 class="preparationTime">  @Html.DisplayFor(modelItem => item.preparationTime)</h6>

            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}

<br />
<br />
<br />
